/*!CK:829509862!*//*1432015792,*/

.sp_s7Ar3nn6UAY{background-image:url(/rsrc.php/v2/yU/r/9qZoPUQr2w4.png);background-size:20px 34px;background-repeat:no-repeat;display:inline-block;height:18px;width:18px}.sp_s7Ar3nn6UAY.sx_1de5ad{background-position:0 0}.sp_s7Ar3nn6UAY.sx_e1915b{width:12px;height:12px;background-position:0 -20px}

#bootloader_cOuwb { height: 42px; }
.bootloader_cOuwb { display:block !important; }