/*!CK:1751381855!*//*1427687151,*/

.sp_6z3OtFcEtW9{background-image:url(/rsrc.php/v2/yZ/r/gxdxmO-31pj.png);background-size:18px 36px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_6z3OtFcEtW9.sx_53e837{background-position:0 0}.sp_6z3OtFcEtW9.sx_2a1af0{background-position:0 -18px}

#bootloader_Lc3dZ { height: 42px; }
.bootloader_Lc3dZ { display:block !important; }