/*!CK:3475530620!*//*1421043489,*/

.sp_LV5OgrEobT6{background-image:url(/rsrc.php/v2/yK/r/p2zNEqVwae_.png);background-size:14px 28px;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_LV5OgrEobT6.sx_224cd9{background-position:0 0}.sp_LV5OgrEobT6.sx_63d81e{background-position:0 -14px}

#bootloader_8LJ1D { height: 42px; }
.bootloader_8LJ1D { display:block !important; }